<!DOCTYPE html>
<html>
<head>
  <title>Simple CQRS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p><%= link_to "Items", items_path %> - <%= link_to "Event logs", event_logs_path %></p>

<%= yield %>

</body>
</html>
